.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
.cursor {
    width:18px;
    height: 18px;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    backdrop-filter: sepia(100%);
    filter: invert(1);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    transition-property: transform;
}