



/* 인트로 영역 */
.intro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
.intro .img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000 url('../images/intro-img.jpg') no-repeat center / cover;
}
.intro .img-wrap img {
    opacity: 0;
    filter: invert(1);
}
.intro .img-wrap img:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.intro .img-wrap img.on {
    opacity: 1;
}
.intro .guage-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    background: #fff;
    padding: 15px 20px;
    font-weight: 400;
    text-transform: none;
}
.intro .guage-area p {
    font-size: 14px;
}
.intro .guage-area .bar {
    width: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
}
.intro .guage-area .curr {
    background: #000;
    width: 0px;
    height: 20px;
}
.intro .guage-area .bar_txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}








/* 메인비주얼 */
.sc-visual {
    position: relative;
    height: 400vh;
}
.sc-visual .sticky-wrapper {
    height: 430vh;
}
.sc-visual .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
}
.sc-visual .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}
.sc-visual .main-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vw;
}
.sc-visual .main-cont .group-top {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom:50px;
    overflow: hidden;
}
.sc-visual .main-cont .group-top .cyclops {
    border: 1px solid #333;
}
.sc-visual .ico-eye {
    width: 130px;
}
.sc-visual .ico-smile {
    width: 130px;
}
.sc-visual .main-cont .group-top .cyclops.hover {
    border-radius: 130px;
    display:inline-block;
    height: 100%;
    padding: 0 10px;
    transition: .5s;
}
.sc-visual .main-cont .group-top .club.hover {
    background-color: #333;
    color: #fff;
    border-radius: 130px;
    display:inline-block;
    height: 100%;
    padding: 0 10px;
    transition: .5s;
}
.sc-visual .main-cont .group-center {
    text-align: center;
    font-weight: 500;
    line-height: .95;
    margin-bottom: 50px;
}
.sc-visual .main-cont .group-center > span {
    display: block;
} 
.sc-visual .main-cont .group-bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sc-visual .cls-1 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}
.sc-visual .video-area {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.sc-visual .video-area .content {
    width: 351px;
    height: 351px;
}
.sc-visual .video-area .content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-visual .video-area video {
    width: 100%;
}





/* 메인텍스트 */
.sc-visual .main-cont .group-center .hero-line {
    display: block;
    font-size:5vw;
    overflow: hidden;
    text-align: center;
}
.sc-visual .main-cont .group-center .line-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sc-visual .main-cont .group-center .hero-picto {
    height: 100px;
    width:auto;
    display:inline-block;
}
.sc-visual .main-cont .group-center .hero-picto svg,
.sc-visual .main-cont .group-center .hero-picto img {
    height: 100%;
    overflow: hidden;
    width: auto;
}
.sc-visual .main-cont .group-center .hero-picto svg.ico-arrow {
    width: 55%;
}
.sc-visual .main-cont .group-center .hero-picto.hero-picto-ani {
    display: flex;
    gap: 5px;
}
.sc-visual .main-cont .group-bottom {
    text-transform: uppercase;
}
.sc-visual .main-cont .group-bottom h4 {
    font-weight: 400;
    font-size:18px;
    color: #333;
}
.sc-visual .main-cont .group-bottom a {
    align-items: center;
    background: #000;
    border-radius: 130px;
    color: #fff;
    display: flex;
    font-size: 18px;
    margin-top: 58px;
    font-weight: 400;
    padding: 8px 10px;
    justify-content: center;
    width: 240px;
    opacity: 0;
    z-index: 100;
    transition: .3s;
}
.sc-visual .main-cont .group-bottom a:hover {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}
.sc-visual .main-cont .group-bottom a img {
    filter: invert(1);
    display: inline-block;
    padding-right: 10px;
}
.sc-visual .main-cont .group-bottom a:hover img {
    filter: invert(0);
}
.sc-visual .ico-mov {
    transform-origin: bottom left;
    animation: ico-motion1 1s cubic-bezier(0.47, 1.64, 0.76, 0.56) infinite;
}
@keyframes ico-motion1 {
    0%{ transform: rotate(-0deg);}
    25%{ transform: rotate(10deg);}
    50%{ transform: rotate(-10deg);}
    100%{ transform: rotate(0deg);}
}







/* sc-work */
.sc-work {
    text-align: center;
    overflow: hidden;
}
.sc-work .headline {
    font-size:76px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 350px;
}
.sc-work .headline span {
    font-style: normal;
    font-weight: 500;
    line-height: .9;
}
.sc-work .headline .works-title-big {
    font-size: 272px;
    font-style: normal;
    font-weight: bold;
    line-height: .9;
}
.sc-work .headline .works-title-bold {
    display: inline-block;
    padding: 20px;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    border: 1px solid #000;
    border-radius: 130px;
}
.sc-work .headline .caps {
    bottom: -2%;
    height: 100%;
    left: -7px;
    position: absolute;
    width: 100%;
}
.sc-work .list-line1,
.sc-work .list-line2 {
    align-items: center;
    display: flex;
    width: 100%;
    height: 130px;
}
.sc-work .list-line2 {
    justify-content: flex-end;
}
.sc-work .video-area video {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
}
.sc-work .video-area {
    height: 85vh;
    overflow: hidden;
    width: 100%;
}





/* marquee 슬라이드 */
.sc-work .marquee {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    margin-bottom: 10px;
}
.sc-work .marquee .wrap-01 {
    display: flex;
    justify-content: flex-end;
}
.sc-work .marquee .wrap-01 .list {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    animation: marquee2 20s linear infinite;
}
.sc-work .marquee .wrap-02 {
    display: flex;
    justify-content: flex-start;
}
.sc-work .marquee .wrap-02 .list {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    animation: marquee1 20s linear infinite;
}
.sc-work .marquee .list .item img {
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
}
.sc-work .marquee .item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.sc-work .marquee .item img {margin: 0 10px;}
@keyframes marquee1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}







/* sc-about */
.sc-about  {
    position: relative;
}
.sc-about h3 {
    font-size: 7vw;
    font-weight: 500;
    line-height: .9;
    margin-bottom: 7.4vw;
    position: relative;
}
.sc-about h3 span.line {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}
.sc-about h3 span.line .hero-picto {
    display: flex;
    align-items: center;
}

.sc-about h3 span.line .hero-picto img {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0px, 0px, 0px) rotate(66.8046deg);
    width: 120px;
    height: 120px;
}
.sc-about .hero-picto .picto-ico-star.on {
    transform: rotate(720deg);
    animation-duration: .3s;
    border: 1px solid #000;
}
.sc-about .about-inner {
    padding: 155px 40px 0;
    position: relative;
    text-transform: uppercase;
}
.sc-about .about-cont {
    display: flex;
    align-items: flex-end;
    margin-bottom: 13.3vw;
}
.sc-about .about-img {
    position: absolute;
    top: 0;
    right: 0;
}
.sc-about .about-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sc-about .about-cont .col-left {
    font-size: 45px;
    font-weight: 500;
    line-height: 1.25;
    width: 58.3333333333%;
    display: flex;
    flex-direction: column;
}
.sc-about .about-cont .about-sub {
    display: flex;
    overflow: hidden;
}
.sc-about .about-cont .col-right {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: flex-end;
    line-height: 1.15;
    margin-left: 8.3333333333%;
    width: 25%;
    font-weight: 500;
}
.sc-about .about-cont .col-right .nb {
    margin-bottom: 25px; 
    font-size: 8.1vw;
    font-weight: 500;
    line-height: .75;
}
.sc-about .about-cont .col-right strong {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    display: block;
}
.sc-about .about-bottom {
    display: flex;
    gap: 20px;
}
.sc-about .about-bottom .img-area {
    display: flex;
    gap: 20px;
    flex: 1;
}
.sc-about .about-bottom .img-area img {
    border-radius: 10px;
    flex: 1;
    overflow: hidden;
}
.sc-about .about-bottom .text-area {
    font-size: 24px;
    line-height: 1.15;
    flex: 1;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    color: #555;
}
.sc-about .about-bottom .text-area .text-sub {
    overflow: hidden;
    display: flex;
}








/* sc-banner */
.sc-banner {
    font-size: 7.22vw;
    font-weight: 500;
    line-height: 1;
    margin-top: 200px;
    overflow: hidden;
}
.sc-banner .banner-line {
    display: flex;
    font-weight: 500;
    flex-shrink: 0;
    height: 7.2vw;
    border-top:2px solid #000;
}
.sc-banner .banner-line.line-2 {
    justify-content: flex-end;
}
.sc-banner .banner-line > div {
    display: flex;
}
.sc-banner .banner-line span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-transform: uppercase;
}
.sc-banner .hero-picto {
    display: flex;
    align-items: center;
    margin: 0 25px;
}
.sc-banner .picto-inner {
    display: flex;
    width: 200px;
}
.sc-banner .hero-picto img {
    height: 100%;
    width: auto; 
}
.sc-banner .line-2 {
    background: #000;
    color: #fff;
}
.sc-banner img {
    height: 100%;
    overflow: hidden;
    width: auto;
}
.sc-banner .banner {
    display: flex;
    flex-direction: column;
}
.sc-banner .banner.line-1 {
    align-items: flex-start;
}
.sc-banner .banner.line-2 {
    align-items: flex-end;
}









/* sc-promise */
.sc-promise {
    position: relative;
    height: 600vh;
}
.sc-promise .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sc-promise .group-top {
    display: flex;
    padding: 100px 40px 0;
    flex: 1;
    align-items: start;
}
.sc-promise .group-top .left-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.sc-promise .group-top .left-area .headline {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 5px;
}
.sc-promise .group-top .left-area .subject-wrap {
    position: relative;
}
.sc-promise .group-top .left-area .subject-wrap .subject {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
}
.sc-promise .group-top .left-area .subject-wrap .subject .char {
    transform: translateY(100%);
}
.sc-promise .group-top .right-area {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.sc-promise .group-top .right-area .progress-box {
    font-weight: 500;
}
.sc-promise .group-top .right-area .progress-box .title {
    font-size: 18px;
}
.sc-promise .group-top .right-area .progress-box .per {
    font-size: 30px;
    overflow: hidden;
}
.sc-promise .group-top .right-area .step-box .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
.sc-promise .group-top .right-area .step-box .num-wrap {
    display: flex;
    overflow: hidden;
}
.sc-promise .group-top .right-area .step-box .num {
    display: flex;
    font-size:384px;
    line-height: .75;
    transform: translate(-3.5%);
    font-weight: 400;
}
.sc-promise .group-top .right-area .step-box .change {
    display: flex;
    flex-direction: column;
    position: relative;
}
.sc-promise .group-top .right-area .step-box .curr {
    position: absolute;
}
.sc-promise .group-top .right-area .step-box .curr:last-child {
    position: relative;
}
.sc-promise .group-top .right-area .step-box .curr:nth-child(1) {
    transform: translateY(100%);
}
.sc-promise .group-top .right-area .step-box .curr:nth-child(2) {
    transform: translateY(200%);
}
.sc-promise .group-top .right-area .step-box .curr:nth-child(3) {
    transform: translateY(300%);
}
.sc-promise .group-top .right-area .step-box .curr:nth-child(4) {
    transform: translateY(400%);
}
.sc-promise .group-top .right-area .step-box .curr:nth-child(5) {
    transform: translateY(500%);
}
.sc-promise .group-bottom {
    display: flex;
    align-items: flex-start;
    padding-left: 40px;
}
.sc-promise .group-bottom .rec-area {
    display: flex;
    align-items: center;
    width: 25%;
}
.sc-promise .group-bottom .rec-area p {
    font-size: 45px;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 20px;
}
.sc-promise .group-bottom .rec-area .circ {
    border: 1px solid #000;
    border-radius: 50%;
    height: 63px;
    overflow: hidden;
    width: 63px;
}
.sc-promise .group-bottom .rec-area .circ.on {
    background: #000;
}
.sc-promise .group-bottom .guage-area {
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 42px 40px 32px 40px;
    width: 75%;
}
.sc-promise .group-bottom .gauge-top,
.sc-promise .group-bottom .gauge-bottom {
    display: flex;
    justify-content: space-between;
}
.sc-promise .group-bottom .gauge-bottom p {
    font-weight: 400;
}
.sc-promise .group-bottom .gauge-top p {
    font-size: 18px;
    font-weight: 500;
}
.sc-promise .group-bottom .gauge-top p.subTit {
    font-size: 15px;
}
.sc-promise .group-bottom .gauge-center {
    border-radius: 15px;
    height: 27px;
    margin-bottom: 12px;
    margin-top: 12px;
    overflow: hidden;
    border: 1px solid #ffff;
}
.sc-promise .group-bottom .gauge-center .bar {
    height: 100%;
}
.sc-promise .group-bottom .gauge-center .curr {
    width: 0%;
    height: 100%;
    background: #fff;
}
.sc-promise .group-bottom .gauge-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}
.sc-promise .group-bottom .gauge-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: none;
}
.sc-promise .group-bottom .gauge-left ul {
    display: flex;
    margin-top: 15px;
}
.sc-promise .group-bottom .gauge-left .thumb-box {
    margin-right: 14px;
    width: 35%;
}
.sc-promise .group-bottom .gauge-left .thumb-box img {
    object-fit: contain;
    height: 100%;
}
.sc-promise .group-bottom .gauge-left .info-box {
    display: flex;
    font-size: 16px;
    font-weight: 500;
}
.sc-promise .group-bottom .gauge-left .info-box > div {
    display: flex;
    gap: 7px;
}
.sc-promise .group-bottom .gauge-left .info-box .left {
    text-align: right;  
}
.sc-promise .group-bottom .gauge-left .info-box .left,
.sc-promise .group-bottom .gauge-left .info-box .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sc-promise .group-bottom .gauge-right {
    display: flex;
    width: 25%;
    align-items: flex-end;
}
.sc-promise .group-bottom .gauge-right .level-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    overflow: hidden;
    width: 60%;
    border: 1px solid #fff;
}
.sc-promise .group-bottom .gauge-right .level-box img {
    width: 100%;
}
.sc-promise .group-bottom .gauge-right .sound-box {
    height: 100%;
    margin-left: 46px;
}
.sc-promise .group-bottom .gauge-right .sound-box svg {
    height: 100%;
}
.sc-promise .group-bottom .gauge-right .sound-box .sound-level-style-2 {
    fill: none;
    stroke: #faf9f6;
    stroke-miterlimit: 10;
    stroke-width: .5px;
}
.sc-promise .group-bottom .gauge-right .sound-box .sound-level-style {
    fill: #faf9f6;
}
.sc-promise .group-bottom .gauge-right .sound-box .group-1 .sound-level-style {
    animation: grow01 1s infinite linear alternate-reverse;
}
.sc-promise .group-bottom .gauge-right .sound-box .group-2 .sound-level-style {
    animation: grow02 1.5s infinite linear alternate;
    animation-delay: 2s;
}
@keyframes grow01 {
    0% {
        height: 208.45px;
        y: 100.51px;
    }
    100% {
        height: 208.45px;
        y: 12.06px; 
    }
}
@keyframes grow02 {
    0% {
        height: 208.45px;
        y: 100.51px;  
    }
    100% {
        height: 208.45px;
        y: 12.06px;  
    }
}






/* sc-month */
.sc-month {
    position: relative;
    height: 1000vh;
} 
.sc-month .sticky {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}
.sc-month .wrap {
    display: flex;
    align-items: center;
    width: max-content;
    background: #000;
}
.sc-month .area {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: max-content;
}
.sc-month .area .text {
    display: flex;
    align-items: center;
    padding-right: 200px;
}
.sc-month .area .text img {
    width: 30%;
    filter: grayscale(1);
}
.sc-month .area .title {
    display: block;
    font-size: 48vw;
    margin-right: 100px;
    font-weight: 500;
}
.sc-month .area .subtitle {
    font-size: 8.6vw;
    font-weight: 500;
    line-height: 1;
    padding-left: 300px;
}
.sc-month .area .subtitle span {
    position: relative;
}
.sc-month .area .subtitle span::before {
    content: "";
    position: absolute;
    width: 105.5%;
    height: 100%;
    border: 0.12rem solid #fff;
    border-radius: 130px;
    bottom: -2%;
    right: -2%;
}
.sc-month .black-area .title,
.sc-month .black-area .subtitle {
    color:#fff;
}
.sc-month .white-area .title,
.sc-month .white-area .subtitle {
    color:#000;
}
.sc-month .area.black-area {padding-left: 420px;}
.sc-month .area.white-area {
    background:rgb(calc(255 - 5),calc(255 - 6),calc(255 - 9));
    padding-left: 200px;
    width: max-content;
    position: relative;
}
.sc-month .marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
}
.sc-month .marker .line {
    width: 3px;
    height: 100%;
    background-color: #fff;
}
.sc-month .marker img {
    width: 35px;
    height: 44px;
}
.sc-month .marker.on .line {
    background: #000;
}
.sc-month .area-block {
    bottom: 0;
    display: flex;
    left: 0;
    mix-blend-mode: difference;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 2;
    border: 1px solid #fff;
    width: 100%;
}
.sc-month .area-block .first-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 90px;
    width: 100%;
}
.sc-month .area-block .block-group-line {
    align-items: flex-start;
    display: flex;
    border: 1px solid #fff;
    height: 80px;
    background: #fff;
}
.sc-month .area-block .block-line {
    align-items: flex-start;
    display: flex;
    position: relative;
    z-index: 2;
    border: 1px solid #fff;
    height: 30px;
    background: #ffff;
    width: 100%;
}
.sc-month .area-block .block {
    background-color: #faf9f6;
    height: 2vw;
    margin-bottom: 1.5vw;
    margin-right: 1vw;
    width: 7vw;
}
.new-video-area-wrapper {
   height: 100vh;
}








/* sc-grow */
.sc-grow {
    background-color: rgb(calc(255 - 5),calc(255 - 6),calc(255 - 9));
    padding-bottom: 422px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 155px;
    position: relative;
    text-transform: uppercase;
}
.sc-grow .img-area {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 600px;
}
.sc-grow .img-area img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.sc-grow .main-area {
    font-size: 6vw;
    font-weight: 500;
    line-height: .9;
    margin-bottom: 170px;
    position: relative;
}
.sc-grow .main-area .caps {
    left: 0;
    position: absolute;
    top: 30px;
    z-index: 2;
}
.sc-grow .main-area .caps .ellipseBlockTextGif {
    height: auto;
    width: 100%;
}
.sc-grow .main-area span.hero-line {
    display: block;
    overflow: hidden;
}
.sc-grow .main-area .line-ctn {
    display: block;
}
.sc-grow .main-area .fadeText {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 400;
}
.sc-grow .main-area .fadeText .hero-picto {
    display: inline-block;
    width: auto;
    height: 130px;
    margin-top: 20px;
}
.sc-grow .main-area .fadeText .picto-alert img {
    height: 100%;
    width: auto;
}
.sc-grow .sub-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;
}
.sc-grow .sub-area .hero-line {
    overflow: hidden;
}
.sc-grow .sub-area .col-left {
    font-size: 40px;
    line-height: 1.25;
    width: 58.3333333333%;
}
.sc-grow .sub-area .col-left-wrap {
    display: block;
    text-align: start;
    position: relative;
    overflow: hidden;
    font-weight: 400;
    color: #333;
}
.sc-grow .sub-area .col-left-wrap > div {
    display: block;
    text-align: start;
    position: relative;
    translate: none;
    rotate: none;
    scale: none;
    transform-origin: 0% 50%;
    transform: translate(0px, 0px);
}
.sc-grow .sub-area .col-right {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 18px;
    justify-content: flex-end;
    line-height: 1.15;
    margin-left: 8.3333333333%;
    width: 25%;
    font-weight: 500;
}
.sc-grow .sub-area .col-right svg {
    right: 105%;
    top: -2px;
    width: 35px;
}
.sc-grow .sub-area .col-right .hero-line {
    overflow: hidden;
}
.sc-grow .sub-area .col-right svg > * {
    fill: none;
    stroke: #000;
}
.sc-grow .sub-area .img-abs-1 {
    position: absolute;
    right: 105%;
    top: -2px;
    width: 35px;
    filter: invert(calc(1 - 255 / 255* 1));
}
.sc-grow .sub-area .img-abs-2 {
    position: absolute;
    right: -5%;
    top: 100%;
    width: 25px;
}






/* sc-contact */
.sc-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#000;
    color: #fff;
    position: relative;
    width: 100%;
    padding: 200px 0;
}
.sc-contact .hero-line {
    overflow: hidden;
}

.sc-contact .group-txt {
    font-size: 150px;
    line-height: .9;
    pointer-events: none;
    text-align: center;
    z-index: 0;
    width: 80%;
}
.sc-contact .txt-box {
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.sc-contact .txt-box span {
    display: block;
    text-align: center;
    position: relative;
    translate: none;
    rotate: none;
    scale: none;
    transform-origin: 0% 50%;
    transform: translate(0px, 0px);
    font-weight: bold;
    letter-spacing: -0.01em;
}
.sc-contact .group-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-top: 100px;
    padding: 8px 18px;
    position: relative;
    text-transform: none;
    border-radius: 130px;
    z-index: 100;
    transition: .3s;
}
.sc-contact .group-btn:hover {
    border: 0.12rem solid #fff;
    background: transparent;
    color: #fff;
}
.sc-contact .group-btn:hover img {
    filter: invert(1);
}
.sc-contact .group-btn .img-box {
    margin-right: 10px;
}






/* 1900px~1441px */
@media (max-width:1900px) {

    .sc-visual .video-area .content {
        width: 300px;
        height: 300px;
    }
    .sc-about .about-bottom .text-area {
        margin-left: 0;
    }
    .sc-promise .group-top .left-area .headline {
        font-size: 80px;
    }
    .sc-promise .group-top .right-area .step-box .num {
        font-size: 304px;
    }
    .sc-promise .group-top .left-area .subject-wrap .subject {
        font-size: 30px;
    }
}









/* 1440px~1025px */
@media (max-width:1440px) {

    .intro .guage-area {
        width: 60vw;
    }
    .sc-visual .main-cont .group-center .hero-line {
        font-size: 5.5vw;
    }
    .sc-visual .main-cont .group-center .hero-picto {
        height: 50px;
    }
    .sc-visual .video-area .content {
        width: 251px;
        height: 251px;
    }
    .sc-visual .ico-eye {
        width: 80px;
    }
    .sc-work .headline .works-title-big {
        font-size: 200px;
    }
    .sc-work .headline .works-title-bold {
        font-size: 70px;
    }
    .sc-about .about-cont .left {
        font-size: 35px;
    }
    .sc-about .about-bottom .text {
        margin-left: 50px;
        font-size: 20px;
    }
    .sc-about .about-bottom .img img {
        width: 30%;
    }
    .sc-promise .group-top .left-area .headline {
        font-size: 35px;
    }
    .sc-promise .group-top .left-area .subject-wrap .subject {
        font-size: 26px;
    }
    .sc-promise .group-top .right-area .step-box .num {
        font-size: 184px;
    }
    .sc-promise .group-bottom .guage-area {
        width: 90%;
        padding: 20px;
    }
    .sc-promise .group-bottom .gauge-left .info-area {
        font-size: 14px;
    }
    .sc-promise .group-bottom .gauge-left .info-box {
        font-size: 14px;
    }
    .sc-promise .group-bottom .rec-area p {
        font-size: 30px;
    }
    .sc-promise .group-bottom .rec-area .circ {
        width: 35px;
        height: 35px;
    }
    .sc-month {
        display: none;
    }
    .sc-grow .img-area {
        height: 400px;
        width: auto;
    }
    .sc-grow .main-area {
        font-size: 5vw;
    }
    .sc-grow .main-area .fadeText .hero-picto {
        margin-top: 0;
        height: 80px;
    }
    .sc-grow .sub-area .col-left {
        font-size: 35px;
    }
    .sc-grow .sub-area .col-right {
        width: 30%;
        font-size: 16px;
        margin-left: 5%;
    }
    .sc-grow .hi-bottom-2-gif {
        height: 300px;
        width: 500px;
    }
    .sc-contact {
        padding: 80px 0;
    }
    .sc-contact .group-txt {
        font-size: 50px;
    }
    .sc-contact .group-btn {
        margin-top: 50px;
    }
    .sc-banner .picto-inner {
        width: 100px;
    }
    .sc-banner .hero-picto {
        margin: 0 5px;
    }

}






/* 1024px~769px */
@media (max-width:1024px) {

    .intro .guage-area {
        width: 80vw;
    }
    .sc-visual {
        height: auto;
    }
    .sc-visual .sticky-wrapper {
        height: 100vh;
    }
    .sc-visual .main-cont .group-top {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .sc-visual .main-cont .group-center {
        width: 85%;
    }
    .sc-visual .main-cont .group-center .hero-line {
        font-size: 8vw;
    }
    .sc-visual .main-cont .group-center .hero-picto svg.ico-arrow {
        display: none;
    }
    .sc-visual .main-cont .group-center .line-ctn {
        gap: 5px;
    }
    .sc-visual .video-area {
        position: relative;
        align-items: flex-start;
    }
    .sc-visual .video-area .content {
        width: 100% !important;
        height: 100% !important;
    }
    .sc-visual .video-area .content video {
        width: 100%;
        height: auto;
        object-fit: unset;
    }
    .sc-visual .ico-eye {
        width: 40px;
    }

    .sc-work {
        margin-top: 70%;
    }
    .sc-work .headline {
        font-size: 50px;
        margin-bottom: 100px;
    }
    .sc-work .headline .works-title-big {
        font-size: 100px;
    }
    .sc-work .video-area video {
        height: auto;
    }
    .sc-work .headline .works-title-bold {
        font-size: 30px;
    }
    .sc-work .video-area {
        height: auto;
    }

    .sc-about h3 {
        font-size: 8vw;
        margin-top: 10%;
    }
    .sc-about h3 span.line .hero-picto img {
        width: 50px;
        height: 50px;
    }
    
    .sc-about h3 span.line {
        gap: unset;
    }
    .sc-about .about-cont {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5vw;
    }
    .sc-about .about-cont .col-left {
        font-size: 20px;
        width: 100%;
    }
    .sc-about .about-cont .col-right {
        font-size: 18px;
        justify-content: start;
        margin-left: 0;
        width: 100%;
        margin-top: 30px;
    }
    .sc-about .about-inner {
        padding: 50px 20px 0;
    }
    .sc-about .about-cont .col-right .nb {
        margin-bottom: 10px;
    }
    .sc-about .about-bottom {
        flex-direction: column;
    }
    .sc-about .about-cont .col-right strong {
        font-size: 18px;
    }
    .sc-about .about-bottom .img img {
        width: 100%;
    }
    .sc-about .about-bottom .text-area {
        margin-left: 0;
        font-size: 18px;
        width: 100%;
        margin-top: 30px;
    }
    .sc-work .marquee .list .item img {
        width: 100px;
    }
    .sc-banner {
        margin-top: 100px;
    }
    .sc-banner .banner-line {
        height: 10vw;
    }
    .sc-banner .picto-inner {
        width: 50px;
    }
    .sc-promise .group-top {
        padding: 100px 20px 0;
        flex-direction: column;
    }
    .sc-promise .group-top .left-area {
        width: 100%;
    }
    .sc-promise .group-top .left-area .subject-wrap .subject {
        font-size: 20px;
    }
    .sc-promise .group-top .right-area {
        width: 100%;
        align-items: flex-start;
        margin-top: 150px;
    }
    .sc-promise .group-top .right-area .step-box .num {
        font-size: 154px;
    }
    .sc-promise .group-bottom {
        flex-direction: column;
        padding-left: 0;
        gap: 20px;
    }
    .sc-promise .group-bottom .guage-area {
        width: 100%;
        padding: 20px;
    }
    .sc-promise .group-bottom .rec-area {
        margin-left: 20px;
        width: auto;
    }
    .sc-promise .group-bottom .rec-area p {
        margin-left: 10px;
        font-size: 30px;
    }
    .sc-promise .group-bottom .rec-area .circ {
        width: 30px;
        height: 30px;
    }
    .sc-promise .group-bottom .gauge-left .info-area,
    .sc-promise .group-bottom .gauge-top p,
    .sc-promise .group-bottom .gauge-right {
        display: none;
    }

    .sc-promise .group-bottom .gauge-cont {
        margin-top: 10px;
    }
    .sc-promise .group-bottom .gauge-left .thumb-area {
        width: 100%;
    }
    .sc-promise .group-bottom .gauge-center {
        height: 17px;
        margin-top: 0;
    }
    .sc-grow {
        padding: 100px 20px;
    }
    .sc-grow .img-area {
        height: 180px;
        width: auto;
    }
    .sc-grow .main-area {
        font-size: 7vw;
        margin-bottom: 70px;
    }
    .sc-grow .main-area .caps {
        top: 0;
        opacity: 0.3;
    }
    .sc-grow .sub-area {
        flex-direction: column;
    }
    .sc-grow .sub-area .col-left {
        font-size: 18px;
        width: 100%;
    }
    .sc-grow .sub-area .col-right {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .sc-grow .sub-area .col-right svg {
        display: none;
    }
    .sc-contact {
        padding: 40px 0;
    }
    .sc-contact .txt-box {
        font-size: 40px;
    }
    .sc-contact .group-btn {
        margin-top: 30px;
    }


}





/* 768px~ */
@media (max-width:768px) {

    .intro .guage-area {
        width: 90vw;
    }
    .sc-visual .main-cont .group-center {
        width: 90%;
        margin-bottom: 0;
        line-height: 1;
    }
    .sc-visual .main-cont .group-center .hero-picto.hero-picto-ani {
       display: none;
    }
    .sc-visual .main-cont .group-center .line-ctn {
        gap: 3px;
    }
    .sc-visual .main-cont .group-center .line-ctn .ico-eye {
        display: none;
    }
    .sc-work .headline {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .sc-work .headline .works-title-big {
        font-size: 50px;
    }
    .sc-work .headline .works-title-bold {
        font-size: 20px;
        padding: 5px;
    }


    .sc-about .about-inner {
        padding: 100px 20px 0;
    }
    .sc-about h3 span.line .hero-picto img {
        width: 20px;
        height: 20px;
    }
    .sc-about .about-cont .col-left {
        font-size: 16px;
    }

    .sc-promise .group-top .left-area .subject-wrap .subject {
        font-size: 16px;
    }
    .sc-promise .group-top .right-area .step-box .num {
        font-size: 100px;
    }

    .sc-promise .group-bottom .rec-area p {
        font-size: 15px;
    }
    .sc-promise .group-bottom .rec-area .circ {
        width: 15px;
        height: 15px;
    }
    .sc-promise .group-bottom .gauge-left .info-box {
        display: none;
    }
    .sc-promise .group-bottom .gauge-left p {
        display: none;
    }

    .sc-promise .group-top .right-area {
        margin-top: 50px;
    }
    .sc-promise .group-bottom .gauge-left .thumb-box {
        width: 100%;
    }
    .sc-grow {
        padding: 120px 20px 80px;
    }
    .sc-grow .main-area .fadeText .hero-picto {
        width: 30px;
    }
    .sc-grow .sub-area .col-left {
        font-size: 15px;
    }
    .sc-grow .main-area {
        margin-bottom: 30px;
    }
    .sc-grow .img-area {
        display: none;
    }

    .sc-contact .txt-box {
        font-size: 30px;
    }
    .sc-contact .group-btn {
        padding: 5px 15px;
    }

    .sc-work .marquee .list .item img {
        width: 80px;
    }

    .sc-banner .banner-line {
        height: 15vw;
    }
    

}